* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Bold.eot');
    src: url('Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('Rubik-Bold.woff2') format('woff2'),
        url('Rubik-Bold.woff') format('woff'),
        url('Rubik-Bold.ttf') format('truetype'),
        url('Rubik-Bold.svg#Rubik-Bold') format('svg');
}

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
}

.header h1 {
    color: #234c8a;
    padding: 5px;
    margin: 10px;
}

li {
    display: inline-block;
    padding: 5px;
    margin: 15px;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Rubik';
    font-weight: 200;
    font-size: 20px;
    padding: 5px 20px;
}

ul {
    text-align: center;
}

header a:hover {
    background-color: #234c8a;
    color: #ffffff;
    border-radius: 10px;
}

#one {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    text-align: left;
    margin: 0 auto;
}

#one h3 {
    font-size: 60px;
    font-family: 'Rubik';
    font-weight: 700;
    margin-top: 100px;
    color: #234c8a;
}

#one p {
    font-size: 35px;
    font-family: 'Rubik';
    padding-top: 20px;
    padding-bottom: 50px;
}

.send{
    margin-right: 240px;
}

#one div {
    width: 40%;
}

@media(max-width:1200px) {
    #one div {
        width: 60%;
    }
}

#two {
  width: 100%;
  margin-top: 50px;
}

.offer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.offer div {
    width: 20%;
    border: solid 2px lightgray;
    border-radius: 10px;
    box-shadow: 4px 4px #234c8a;
    margin-bottom: 20px;
}

#two h3 {
    text-align: center;
    font-family: 'Rubik';
    font-size: 50px;
    color: #234c8a;
    margin-bottom: 20px;
}

.offer div h5 {
    text-align: left;
    font-size: x-large;
    margin-bottom: 30px;
    padding-left: 15px;
}

.img{
    justify-content: center;
    padding-left: 50px;
}

.offer div p {
    text-align: center;
    font-size: medium;
    font-weight: 500;
    padding-bottom: 10px;
    margin-top: 20px;
}

.offer div:hover{
    background-color: #234c8a;
    color: white;
}

@media(max-width:1200px) {
    .offer div {
        width: 40%;
        text-align: center;
    }
}

@media(max-width:1000px) {
    .offer div {
        width: 60%;
        text-align: center;
    }
}

#three {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 80px;
}

#three div {
    width: 40%;
    text-align: left;
}

#three div h3 {
    color: #234c8a;
    font-size: 55px;
    padding-top: 100px;
}

#three div p {
    font-size: 35px;
    margin-bottom: 20px;
}

#three a {
    text-decoration: none;
    color: #234c8a;
    border: solid 2px;
    border-radius: 50px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Rubik';
}

#three a:hover {
    background-color: #234c8a;
    color: white;
}

@media(max-width:1200px) {
    #three div {
        width: 60%;
    }
}

footer {
    width: 100%;
    background-color: #234c8a;
    margin-top: 100px;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer div {
    color: white;
    width: 20%;
}